.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.player {
  bottom: 0;
  width: 100%;
  background: #1d1d1d;
  border-top: thin solid #434f64;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  position: sticky;
  position: -webkit-sticky;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
  top: -1px;
  z-index: 2;
}

.player__section {
  order: 2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.8rem;
}

.player__section p {
  margin: 0;
}

.player__section--left {
  width: 140px;
  min-width: 80px;
}
@media (max-width: 650px) {
  .player__section--left {
    flex: 1;
  }
}
.player__section--left > * {
  width: 100%;
}
.player__section--middle {
  position: relative;
  flex: 1 1 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}
@media (max-width: 650px) {
  .player__section--middle {
    order: 1;
    width: 100%;
  }
}
.player__section--right {
  display: flex;
}
@media (max-width: 650px) {
  .player__section--right {
    flex: 2;
  }
}
.player__section--right > * {
  width: 100%;
}
.player__icon {
  font-size: 1.4rem;
  line-height: 0.5;
}

p.player__icon {
  margin-bottom: 1rem;
}

.player__title {
  font-size: 0.8rem;
  margin: 0;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  max-width: 450px;
}
@media (max-width: 650px) {
  .player__title {
    padding: 1rem;
  }
}
.player__tooltip {
  position: absolute;
  top: 34px;
  transform: translate(-50%);
  opacity: 0;
}
.player__tooltip:after {
  content: " ";
  position: absolute;
  bottom: 94%;
  left: 50%;
  margin-left: -2px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.player button {
  background: #1d1d1d;
  border: 0;
  color: #fff;
  padding: 1rem;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  outline-color: #f1c15d;
}
.player__speeddisplay {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player__speed {
  flex: 0 1 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.player__speed > * {
  width: 100%;
  margin: 0;
}
.player__speed__display {
  height: 2.5rem;
}
.player__inputs {
  font-size: 0;
}
.player__volume {
  width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 0 auto;
}
.player__volume:focus-within {
  outline: #ff0 auto 5px;
}
.player__volume:hover label {
  border-top: 1px solid #ff0;
}
.player__volume label {
  border-top: 1px solid #ccc;
}
.player__volume label:hover ~ label {
  border-top: 1px solid #000;
}
.player__volume p {
  width: 100%;
  margin: 0;
}
.player__volume input ~ label {
  background: #f6dccd;
  border-right: 2px solid #1d1d1d;
  display: inline-block;
  width: 8px;
  height: 2.5rem;
}
.player__volume input:checked ~ label {
  background: #e4e4e4;
}
.player__volume input:checked + label {
  background: #f6dccd;
}
.progress {
  background: #0d0d0d;
  height: 2rem;
  cursor: crosshair;
  overflow: hidden;
}
.progress__time {
  background: #c1dbdc;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: width 0.1s;
  background: linear-gradient(30deg, #b3bada 0%, #434f64 100%);
}
.bars {
  height: 30px;
  width: 40px;
  position: relative;
}
.bar {
  background: #f6dccd;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}
.bars--paused > * {
  animation-play-state: paused;
}
.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms;
}
@keyframes sound {
  0% {
    opacity: 0.35;
    background: #f1c15d;
    height: 3px;
  }
  100% {
    opacity: 1;
    background: #eca920;
    height: 28px;
  }
}
